@charset "utf-8";

/* レイアウトの基本スタイル */
body {
  font-family: 'Sawarabi Gothic', sans-serif; /* フォントファミリーの設定 */
	color: #000000; /* テキストカラーの設定 */
	font-size:1rem; /* デフォルトのフォントサイズ */
	line-height:1.85; /* 行の高さ */
	-webkit-font-smoothing: antialiased; /* Webkitブラウザ用のフォントの滑らか化 */
	-moz-osx-font-smoothing: grayscale; /* macOS Firefox 用のフォントの滑らか化 */
	-webkit-text-size-adjust: 100%; /* モバイルブラウザでのフォントサイズの調整 */
	word-wrap: break-word; /* 長い単語を適切に折り返す */
}
_:-ms-lang(x)::-ms-backdrop, body{
    overflow-x: hidden;
}



/* レスポンシブ対応：768px以下の画面サイズに対するスタイル */
@media screen and (max-width:768px) {
  body {
    font-size:0.8rem; /* フォントサイズを小さくする */
	}
}

/* 全体の要素に対してのBox Sizingの設定 */
* {box-sizing: border-box;}

/* リストのデフォルトスタイルをリセット */
ul {
	margin:0; /* 上下のマージンを0に設定 */
	padding: 0; /* パディングを0に設定 */
	list-style: none; /* リストのマーカーをなしに設定 */
}

/* リンクのスタイル */
a {
	color: #000; /* リンクのカラー */
	text-decoration: none; /* 下線をなくす */
    outline: none; /* アウトラインをなくす */
}

/* 画像のスタイル */
img {
    width: 100%; /* 画像の幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
}

/* ローディングアニメーションのスタイル */
.loader {
  color: #000000; /* ローダーの色 */
  font-size: 40px; /* ローダーのフォントサイズ */
  overflow: hidden; /* オーバーフローを隠す */
  width: 1em; /* ローダーの幅 */
  height: 1em; /* ローダーの高さ */
  border-radius: 50%; /* ローダーを円形にする */
  position: relative; /* 相対位置指定 */
  transform: translateZ(0); /* Z軸方向に移動 */
  animation: load 1s infinite ease, round 1s infinite ease; /* アニメーションの設定 */
}

/* ローディングアニメーションのキーフレーム（ローダーの動きの定義） */
@keyframes load {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; /* 初期状態 */
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; /* パルスの間 */
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; /* パルスの拡大 */
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; /* パルスの収縮 */
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; /* パルスの拡大 */
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; /* 最終状態 */
  }
}

/* ローディングアニメーションのキーフレーム（ローダーの回転の定義） */
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg); /* 0度で開始 */
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg); /* 360度で終了 */
    transform: rotate(360deg);
  }
}


h1,h2,
#Productions h3,
#header ,
#header h2,
#contact .tel,
#contact .mail,
#footer,
nav,
#loading-logo{
    font-family: 'Teko', sans-serif;
}

/* loading */

#loading-logo{
    color:#000000;
}

/* header */

#header .fixed{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#header h1{
    position: fixed;
    z-index: 9999;
    top:3vh;
    left:2vw;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1;
}
@media screen and (max-width:768px) {
#header h1{
    font-size:2rem;
    top:1vh;
    left:4vw;
}
}
#header h2{
  position: absolute; /* 要素を絶対位置に設定 */
  top: 50%; /* 上端から50%の位置に設定 */
  left: 50%; /* 左端から50%の位置に設定 */
  transform: translate(-50%, -50%); /* X軸とY軸の両方で50%分だけ戻すことで中央に配置 */
  z-index: 9999; /* z-indexで他の要素の上に表示 */
  font-size: 8.5rem; /* フォントサイズ */
  font-weight: normal; /* フォントの太さ */
  line-height: 1; /* 行の高さ */
}

@media screen and (max-width:768px) {
  #header h2{
    font-size: 2rem; /* 画面が768px以下の場合のフォントサイズ */
    top: 50%; /* 上端から50%の位置に変更 */
    left: 50%; /* 左端から50%の位置に変更 */
    transform: translate(-50%, -50%); /* 中央配置のための調整を維持 */
  }
}





/* gnavi */

.circle-bg{
    border:3px solid #000000;
}

#g-nav ul{
    font-size: 1.7rem;
    letter-spacing: 0.2em;
}


@media screen and (max-width:768px) {
#g-nav ul{
    font-size: 1rem;
}
}

/* heading */

h2{
    font-size: 4rem;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 5vh 0;
}

_:-ms-lang(x)::-ms-backdrop, #Productions h2{/*IE11用ハック*/
    padding:20vh 0 0 0;
}

@media screen and (max-width:768px) {
h2{
    font-size: 2rem;
}
}

.fixed{
    z-index: 1;
    height:100vh;
    width:100%;
    max-width:100%;
    padding:0 7vw;
	animation: bgchange 40s ease infinite;
}
/* 768px以下の画面サイズでのエリアのスタイル */
@media screen and (max-width:768px) {
  #Productions.fixed,
  #about.fixed{
      height: auto;
    }
}
/* 540px以下の画面サイズでのエリアのスタイル */
@media screen and (max-width:540px) {
.fixed{
    padding:0 60px;
    }
    
}


/* Productions */

#Productions{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Productions-img {
  width: 100%; /* コンテナの幅を100%に設定 */
  margin: 0 auto; /* 上下のマージンは0、左右は自動で中央揃え */
  display: flex; /* Flexboxを使って中央寄せ */
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
}

.Productions-img img {
  width: 15rem; /* 画像の幅をコンテナの幅に合わせる */
  height: auto; /* 画像の高さを自動で調整し、アスペクト比を維持 */
  display: block; /* ブロックレベル要素として扱う */
}



/* IE11のためのスタイル */
_:-ms-lang(x)::-ms-backdrop, #Productions{/*IE11用ハック*/
    display: block;
}
/* Productionsエリアのスタイル */
#Productions .Productions-area{
    display:flex;
    justify-content: center; /* アイテムをコンテナの中央に寄せる */
    flex-wrap: wrap;
}
/* Productionsエリアの各アイテムにマージンを適用 */
#Productions .Productions-area > * {
  margin:0 10% 0 10%; /* 上下左右に10pxのマージンを設定 */
}
/* Productionsエリア内のセクションのスタイル */
#Productions .Productions-area section{
    width: 30%;
}
/* Productionsエリア内の画像のスタイル */
#Productions .Productions-area .Productions-img{
     width:20%;
    margin: 0 auto 1vh auto;
}

/* Productionsのh3のスタイル */
#Productions h3{
    font-size: 2rem;
    font-weight: normal;
}
/* Productionsのキャプションのスタイル */
#Productions .caption{
    font-weight: bold;
    margin: 0 0 3vh 0;
}   
/* 768px以下の画面サイズでのProductionsセクションのスタイル */
@media screen and (max-width:768px) {
#Productions{
    padding:0 0 18vh 0; 
}

#Productions .Productions-area{
    justify-content: space-around;
}

#Productions .Productions-area section{
    width: 45%;
    margin: 0 0 5vh 0;
}

#Productions h2{
    padding:100vh 0 0 0;
}
    
#Productions h3{
    font-size: 1.5rem;
}
}
/* 500px以下の画面サイズでのProductionsセクションのスタイル */
@media screen and (max-width:500px) {

 #Productions .Productions-area{
    display: block;
}

#Productions .Productions-area section{
    width: 100%;
} 
    
}
/* about */

#about{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about{
  dt {
    font-size: 1rem; /* Adjust this value as needed */
    font-weight: bold; /* Optional: Makes the text bold */
}

}
/* aboutリストのスタイル */
#about .about-list{
    width:50vw;
    margin: 0 auto;
}

/* aboutリスト内のliのスタイル */
#about .about-list li{
    border-bottom: 2px solid #000;
    margin:0 0 15px 0;
    padding: 0 0 15px 0;
}

/* aboutリスト内のdlのスタイル */
#about .about-list dl{
     display: flex;
    justify-content: space-between;
}

/* aboutリスト内のdtのスタイル */
#about .about-list dt{
    width:30vw;
    padding: 0 0 0 2vw;
    white-space: nowrap;
}

/* aboutリスト内のddのスタイル */
#about .about-list dd{
    width:68vw;
}

/* 768px以下の画面サイズでのProductionsセクションのスタイル */
@media screen and (max-width:768px) {
#about{
    padding: 5vh 0 0 0;
}
    
#about h2{
    padding:10vh 0 0 0;  
}

#about .about-list{
    width:70vw;
    }
}

/* contact */

#contact{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contactセクション内の電話番号とメールのスタイル */
#contact .tel,
#contact .mail{
    font-size: 2rem; 
    margin: 0 0 1vh 0;
}
/* contactセクション内のメールのスタイル */
#contact .mail{
    margin:0 0 6vh 0;
}


 /* 768px以下の画面サイズでのcontactセクションのスタイル */
@media screen and (max-width:768px) {
#contact .tel,
#contact .mail{
    font-size: 1.3rem;
}
}
